{% extends "inicio/encabezado.html" %} {% block titulo %} Area Niños {% endblock %} {% block contenido %}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Area Niños</h1>
        </div>
    </div>
    {% for video in videos %}
    <div class="row">
        <div class="col-md-12 text-center m-3">
            <div class="card-title"><h3>{{video.nombre}}</h3></div>
           {{video.enlace|safe}}
        </div>
    </div><br><br>
    {% endfor %}
    </div>




    {% endblock %}